
.app-header {
  position: fixed;
  top: 0;
  left: 0;
  height: 60px;
  width: 100%;
  background-color: #333;
  color: white;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  font-family: 'Montserrat', sans-serif;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  h1 {
    margin: 0;
    font-size: 1.5rem;
     font-weight: 600;
  }

  h2 {
    margin: 0;
    font-size: 1rem;
    padding-top: 5px;
    font-size: 1.1rem;
    font-weight: 200;
    color: rgba(255, 255, 255, 0.75); // menor intensidad
  }

  .hamburger {
    margin-right: 1rem;
    font-size: 1.5rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
  }
}

