<nav class="sidebar" [class.collapsed]="collapsed">
  <ul>
    <li>
      <a href="#">
        <span class="material-icons">eco</span>
        <span *ngIf="!collapsed">Nicho Ecológico</span>
      </a>
    </li>
    <li>
      <a href="#">
        <span class="material-icons">account_tree</span>
        <span *ngIf="!collapsed">Redes Ecológicas</span>
      </a>
    </li>
    <li>
      <a href="#">
        <span class="material-icons">analytics</span>
        <span *ngIf="!collapsed">Casos de Uso</span>
      </a>
    </li>
    <li>
      <a href="#">
        <span class="material-icons">language</span>
        <span *ngIf="!collapsed">Idioma</span>
      </a>
    </li>
    <li>
      <a href="#">
        <span class="material-icons">login</span>
        <span *ngIf="!collapsed">Login</span>
      </a>
    </li>
  </ul>
</nav>
