<nav class="sidebar" [class.collapsed]="collapsed">
  <ul>
    <li>
      <a href="#">
        <span class="material-icons">eco</span>
        <span *ngIf="!collapsed">Nicho Ecológico</span>
      </a>
    </li>
    <li>
      <a href="#">
        <span class="material-icons">account_tree</span>
        <span *ngIf="!collapsed">Redes Ecológicas</span>
      </a>
    </li>
    <li>
      <a href="#">
        <span class="material-icons">analytics</span>
        <span *ngIf="!collapsed">Casos de Uso</span>
      </a>
    </li>
    <li>
      <a href="#">
        <span class="material-icons">language</span>
        <span *ngIf="!collapsed">Idioma</span>
      </a>
    </li>
    <li>
      <ng-container *ngIf="(currentUser$ | async) as user; else loginLink">
        <a routerLink="/perfil">
          <span class="material-icons">account_circle</span>
          <span *ngIf="!collapsed">{{ user.name }}</span>
        </a>
      </ng-container>
      <ng-template #loginLink>
        <a routerLink="/login">
          <span class="material-icons">login</span>
          <span *ngIf="!collapsed">Login</span>
        </a>
      </ng-template>
    </li>
  </ul>
</nav>
